
<br>
<div class="title text-xl">
  User Management
</div> 
<br>  
<md-input-container style="width: 100%" class="mb-1">
  <input mdInput placeholder="Type to filter the name column..." required (keyup)='updateFilter($event)'>
</md-input-container>
<ngx-datatable
class='material'
[columns]="columns"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[rowHeight]="'auto'"
[limit]="10"
[rows]='rows'>
</ngx-datatable>

  <ng-template #actionTemp let-row="row" ngx-datatable-cell-template>
    <div class="pb-1">
          <button md-raised-button md-button-sm color="primary" (click)="edit(row.id-1)" class="mr-1">Edit</button>
          <button md-raised-button md-icon-button md-button-sm color="warn" (click)="delete(row.id-1)" class="mr-1"><md-icon>power_settings_new</md-icon></button>
        </div>
  </ng-template>